@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.kamado-viewer {
  position: relative;
  width: 100%;
  aspect-ratio: 0.6;
  background: transparent;

  @include respond-to(tablet) {
    width: 300px;
    aspect-ratio: 0.6;
  }

  canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
  }
}