@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/standars.scss' as *;

.contact {
  @include section-padding;
  background: $color-ember;

  background-image: url('/Images/background-CONTACTO.png');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;


  // overlay para que el texto se lea bien sobre el fuego
  &::before {
    content: '';
    position: absolute;
    z-index: 2;
    inset: 0;
    backdrop-filter: blur(4px);
    background: linear-gradient(to top,
        rgba($color-char, 0.2) 0%,
        rgba($color-char, 0.5) 30%,
        rgba($color-char, 0.6) 90%,
        rgba($color-char, 1) 100%);


  }



  &__video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    object-fit: cover;
    z-index: 0;
  }

  img {
    position: absolute;
    bottom: 0;
    z-index: 50;
    height: 80vh;
  }

  .container_info {
    position: absolute;
    width: 50%;
    z-index: 10;
  }

  &__title {
    font-family: $font-display;
    font-size: clamp(3rem, 7vw, 7rem);
    color: #ed7800;
    line-height: 0.9;
    margin-bottom: 1.5rem;
  }

  &__sub {
    font-family: $font-serif;
    font-style: italic;
    font-size: 1.4rem;
    color: rgba(rgb(255, 255, 255), 0.8);
    margin-bottom: 2.5rem;
  }

  &__btn {
    display: inline-block;
    padding: 1rem 3rem;
    border: 2px solid $color-char;
    font-family: $font-body;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: $color-char;
    transition: all 0.2s;

    &:hover {
      background: $color-char;
      color: $color-ember;
    }
  }
}

.texto-relleno-blur {
  font-size: 8rem;
  /* Un tamaño grande para que se note el efecto */
  font-family: 'Arial Black', sans-serif;
  /* Fuentes gruesas funcionan mejor */
  font-weight: 900;

  /* 1. Creamos un fondo con colores que simulen un blur o degradado suave */
  background: rgba(128, 128, 128, 0.234);

  /* 2. Hacemos que el fondo solo se pinte DENTRO de las letras */
  -webkit-background-clip: text;
  background-clip: text;

  /* 3. Hacemos el texto original transparente para que se vea el fondo */
  -webkit-text-fill-color: transparent;
  color: transparent;

  /* 4. Opcional: Un filtro de contraste para suavizar los colores internos */
  filter: contrast(120%);
}