@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.explore-btn {
  position: relative;
  width: 180px;
  height: 180px;
  @include flex-center;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  transition: all 0.5s ease;


  &__text {
    position: relative;
    z-index: 2;
    font-family: $font-display;
    font-size: 1rem;
    letter-spacing: 0.15em;
    color: $color-bone;
    text-align: center;
    line-height: 1.2;
    opacity: 0.6;
    transition: all 0.3s ease;
    pointer-events: none;
  }

  &__inner-ring {
    position: absolute;
    inset: 30px;
    border-radius: 50%;
    border: 1px solid rgba($color-bone, 0.2);
    pointer-events: none;
    background: rgba($color-bone, 0.07);
    backdrop-filter: blur(50%);
    transition: all 0.5s ease;

  }

  &__svg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: visible;

    .ring-track {
      fill: none;
      stroke: rgba($color-bone, 0.02);
      stroke-width: 1;
    }

    // El rect que recibe el gradiente y se anima como el arco
    .ring-idle-rect {
      animation: rotateIdle 3s linear infinite;
      transform-origin: 50px 50px;
      transition: all 0.3s ease;
    }

    .ring-hover {
      fill: none;
      stroke: $color-bone;
      stroke-width: 1.2;
      stroke-linecap: round;
      stroke-dasharray: 283;
      stroke-dashoffset: 283;
      transform-origin: 50px 50px;
      transform: rotate(-90deg);
      transition: stroke-dashoffset 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &:hover {
    width: 200px;
    height: 200px;
    
    .explore-btn__inner-ring {
      border: 1.5px solid rgba($color-bone, 1);
      inset: 29px;
    }
    .explore-btn__text {
      opacity: 1;
    }
    
  }
}

@keyframes rotateIdle {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}